/*Body*/
html {
    font-family: 'Mukta', sans-serif;
    background-color: white;
    max-width: 1400px;
    margin: auto;
}

body {
    font-size: 16px;
    color: #616161;
    line-height: 1.2;
    letter-spacing: 1px;
    margin: 0;
}

/*Header*/

header {
    background-color: #fafafa;
    padding-left: 200px;
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eeeeee;
}

nav {
    padding: 20px 150px; 
}

h1 {
    font-size: 40px; 
    color: black; 
    margin-bottom: 0px;
}

h1+p {
    color: #a7a7a7;   
    margin: 0px;
    padding: 0px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px ;
    color: black;
}

.active/*:active*/ /*I put it here because I think it will be displayed that way when we are on this particular page.*/{
    color: #9d9d9d;
}

/*Mine*/

h3, h2{
    color: black;
}

#block {
    display: grid;
    grid-template-columns: 1fr 600px;
    grid-template-rows: 1fr 1fr;
    gap: 100px;
    padding: 40px 150px 80px;
}

.small_text {
    font-size: 14px;
}

.image {
    display: flex;
    flex-wrap: wrap;
}

.logos {
    width: 140px;
    height: 140px;
}

/*Footer*/

footer {
    background-color: #6736cd;
    color: white;
    padding: 40px 150px;
    display: flex;
    justify-content: space-between;
    line-height: 2;
    letter-spacing: 1px;
}

footer>div {
    width: 220px;
    padding-right: 40px;
}

footer h2 {
    color: white;
}

footer p {
    font-size: 18px;
}

footer li {
    font-size: 18px;
    list-style: none;
    line-height: 3;
    border-bottom: 1px solid #7249c1;
}

footer li:last-child {
    border-bottom: none;
}

footer ul {
    padding: 0px;
}

@media only screen and (max-width: 768px) {
    html{
        width: 100%;
    }
    header {
        width: 100%;
        padding-left: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
        border-bottom: 1px solid #eeeeee;
    }
    
    nav {
        padding-left: 0;
    }

    nav ul {
        display: block;
    }

    footer,
    #block {
        display: block;
        padding: 10%;
    }

    img {
        width: 100%
    }

    .mobile {
        padding-top: 5%;
    }


    h1 {
        font-size: 24px;
    }
    footer {
        
    }
 }
